# Move the prompt to a new line
add_newline = true
command_timeout = 200

# The "format" defines the top line. 
# The "continuation_prompt" and "character" define the second line.
format = """
$directory\
$git_branch\
$git_status\
$conda\
$python\
$line_break\
$character"""

[character]
success_symbol = "[❯](bold cyan)"
error_symbol = "[✗](bold cyan)"

[directory]
truncation_length = 2
truncation_symbol = "…/"
read_only = " 󰌾"
style = "bold cyan"
# This ensures it looks like original config
format = "[$path]($style)[$read_only]($read_only_style) "

[git_branch]
symbol = " "
format = "[$symbol$branch]($style) "

[git_status]
format = '([$all_status$ahead_behind]($style) )'
ahead = "⇡${count} "
diverged = "⇕⇡${ahead_count}⇣${behind_count} "
behind = "⇣${count} "
up_to_date = " "
untracked = "? "
modified = " "
conflicted = " "
stashed    = ""
staged     = ""
renamed    = ""
deleted    = ""

[conda]
symbol = " "
format = "via [$symbol$environment]($style) "

[python]
symbol = " "
format = "via [$symbol$version]($style) "

# Command Duration
[cmd_duration]
min_time = 0
format = "took [$duration]($style)"
style = "bold yellow"

# Other Symbols
[aws]
symbol = "  "

[buf]
symbol = " "

[c]
symbol = " "

[cmake]
symbol = " "

[crystal]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fennel]
symbol = " "

[fossil_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[guix_shell]
symbol = " "

[haskell]
symbol = " "

[haxe]
symbol = " "

[hg_branch]
symbol = " "

[hostname]
ssh_symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[meson]
symbol = "󰔷 "

[nim]
symbol = "󰆥 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[ocaml]
symbol = " "

[package]
symbol = "󰏗 "

[perl]
symbol = " "

[php]
symbol = " "

[pijul_channel]
symbol = " "

[rlang]
symbol = "󰟔 "

[ruby]
symbol = " "

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[swift]
symbol = " "

[zig]
symbol = " "

[gradle]
symbol = " "
